<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <%- include("./partials/header") %>
    <%- include("./partials/main") %>
    <%- include("./partials/footer") %>
  </body>
</html>
