<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <%- include("./partials/header") %>
    <main>
      <div class="top1">
        <img src="/images/top.png" alt="logotop">
      </div> 
      <section class="img_main">
        <div class="conjunto">
          <img src="/images/DoctorStrange2_movie.jpg" alt="imagenprincipal">
        </div>
      </section>
      <section class="ultimos_lanzamientos">
        <h3 class="text1">Últimos lanzamientos</h3>
        <div class="movies">
            <img src="/images/TopGunMaverick_movie.jpg" alt="movie1" class="movies_img" >
            <img src="/images/BuzzLightyear_movie.jpg" alt="movie2" class="movies_img" >
            <img src="/images/JurassicWorldDominion_movie.jpg" alt="movie3" class="movies_img" >
            <img src="/images/ThorLoveandThunder_movie.jpg" alt="movie4" class="movies_img" >
            <img src="/images/MinionsElorigendeGru_movie.jpg" alt="movie5" class="movies_img" >
        </div>
      </section>
      <section class="mas_alquilado">
        <h3 class="text2">Lo más alquilado</h3>
        <div class="movies_alq">
            <img src="/images/the_godfather_movie.jpg" alt="movie1" class="movies_img" >
            <img src="/images/spiderman_movie.jpg" alt="movie2" class="movies_img" >
            <img src="/images/volverAlFuturo_movie.jpg" alt="movie3" class="movies_img" >
            <img src="/images/samaritan_movie.jpg" alt="movie4" class="movies_img" >
            <img src="/images/joker_movie.jpg" alt="movie5" class="movies_img" >
        </div>
      </section>
      <section class="ultimas_series">
        <h3 class="text3">Las Últimas series</h3>
        <div class="series">
            <img src="/images/strangerthings_movie.jpg" alt="movie1" class="movies_img" >
            <img src="/images/succesion_movie.jpg" alt="movie2" class="movies_img" >
            <img src="/images/gameofthrones_movie.jpg" alt="movie3" class="movies_img" >
            <img src="/images/theboys_movie.jpg" alt="movie4" class="movies_img" >
            <img src="/images/Friends_movie.jpg" alt="movie5" class="movies_img" >
        </div>
      </section>
      <section class="peliculas_infantiles">
        <h3 class="text4">Series y pelÍculas infantiles</h3>
        <div class="pelis_infantil">
            <img src="/images/MinionsElorigendeGru_movie.jpg" alt="movie1" class="movies_img" >
            <img src="/images/toystory_movie.jpg" alt="movie2" class="movies_img" >
            <img src="/images/shrek_movie.jpg" alt="movie3" class="movies_img" >
            <img src="/images/turningred_movie.jpg" alt="movie4" class="movies_img" >
            <img src="/images/BuzzLightyear_movie.jpg" alt="movie5" class="movies_img" >
        </div>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
