<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/productCart.css" />
  </head>
  <body>
    <%- include("./partials/header") %>
    <main class="main">
      <div class="main__container">
        <section class="main__carrito">
          <div class="main__carrito-header">
            <h2>Carrito</h2>
            <form action="#" method="get" class="main__continuar-comprando">
              <button type="button" class="main__continuar-comprando-button">
                Continuar comprando
              </button>
              <div class="main__continuar-comprando-icono">
                <i class="fas fa-angle-right"></i>
              </div>
            </form>
          </div>
          <div class="main__carrito-movies">
            <p class="subtotal">Subtotal</p>
            <article class="main__carrito-movie">
              <div class="main__movie-poster">
                <img src="/images/productCart/the_dark_knight.jpg" />
              </div>
              <div class="main__movie-description">
                <div class="main__movie-description-header">
                  <h3>The Dark Knight</h3>
                  <div class="genero">
                    <p>Acción</p>
                  </div>
                </div>
                <div class="main__movie-description-content">
                  <p class="subtitulo">Compra de pelicula:</p>
                  <p class="precio-articulo-compra">$ 1559,90</p>
                  <form action="#" method="get">
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" name="cantidad" id="cantidad">
                  </form>
                </div>
              </div>
              <div class="main__movie-subtotal">
                <p>$ 1559,90</p>
                <i class="fas fa-trash-alt"></i>
              </div>
            </article>
            <article class="main__carrito-movie">
              <div class="main__movie-poster">
                <img
                  src="/images/productCart/dracula.jpeg"
                  alt="Poster Dracula"
                />
              </div>
              <div class="main__movie-description">
                <div class="main__movie-description-header">
                  <h3>Dracula</h3>
                  <div class="genero">
                    <p>Terror</p>
                    <p>Drama</p>
                  </div>
                </div>
                <div class="main__movie-description-content">
                  <p class="subtitulo">Alquiler de pelicula:</p>
                  <p class="precio-articulo-alquiler">$ 499,90</p>
                  <form action="#" method="get">
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" name="cantidad" id="cantidad">
                  </form>
                </div>
              </div>
              <div class="main__movie-subtotal">
                <p>$ 499,90</p>
                <i class="fas fa-trash-alt"></i>
              </div>
            </article>
          </div>
          <div class="main__carrito-checkout">
            <div class="main__carrito-checkout-content">
              <div>
                <p class="etiquetas">Subtotal:</p>
                <p>$ 2059,8</p>
              </div>
              <div>
                <p class="etiquetas">Costo de envio:</p>
                <p>Gratis!</p>
              </div>
              <div>
                <p class="total-a-pagar">Total a pagar:</p>
                <p>$ 2059.8</p>
              </div>
            </div>
            <div class="main__carrito-checkout-button">
              <form action="#" method="get">
                <button type="button">Ir a pagar</button>
              </form>
            </div>
          </div>
        </section>
      </div>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
