<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/productCart.css" />
  </head>
  <body>
    <%- include("./partials/header") %>
    <main class="main">
      <div class="main__container">
        <section class="main__carrito">
          <div class="main__carrito-header">
            <h1>Carrito</h1>
            <form action="#" method="get" class="main__continuar-comprando">
              <button type="button" class="main__continuar-comprando-button">
                Continuar comprando
              </button>
              <div class="main__continuar-comprando-icono">
                <i class="fas fa-angle-right"></i>
              </div>
            </form>
          </div>
          <div class="main__carrito-movies">
            <p>Subtotal</p>
            <article class="main__carrito-movie">
              <div class="main__movie-poster">
                <img src="images/productCart/the_dark_knight.jpg" />
              </div>
              <div class="main__movie-description"></div>
              <div class="main__movie-subtotal"></div>
            </article>
            <article class="main__carrito-movie">
              <div class="main__movie-poster">
                <img
                  src="images/productCart/dracula.jpeg"
                  alt="Poster Dracula"
                />
              </div>
              <div class="main__movie-description"></div>
              <div class="main__movie-subtotal"></div>
            </article>
          </div>
          <div class="main__carrito-checkout"></div>
        </section>
      </div>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
