<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Cinephile</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/productDetail.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__container">
        <div class="header__dropMenu-logo">
          <form action="#" method="get" class="header__drop-logo-form">
            <button type="submit" class="header__burger-menu">
              <i class="fas fa-bars"></i>
            </button>
            <a href="/" class="header__logo">
              <img src="/images/logo.png" alt="The Cinephile logo" />
            </a>
          </form>
        </div>
        <div class="header__search-container">
          <form action="#" method="get" class="header__search-bar">
            <input type="text" id="search-box" />
            <button type="submit" class="header__submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
        <div class="header__nav">
          <div class="header__dropdown-buttons">
            <a href="/" class="header__home">Inicio</a>
            <a href="#" class="header__movies">Películas</a>
            <a href="#" class="header__series">Series</a>
            <a href="#" class="header__categories">Categorías</a>
            <a href="#" class="header__list">Mi lista</a>
          </div>
          <div class="header__nav-buttons">
            <a href="#" class="header__nav-search">
              <i class="fas fa-search"></i>
            </a>
            <a href="#" class="header__profile">
              <i class="fas fa-user-circle"></i>
            </a>
            <a href="#" class="header__cart">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="main__container">
        <section class="main__movie-description">
          <div class="main__movie-header">
            <div class="main__movie-logo">
              <h1>El Padrino</h1>
              <h4>1972 - R - 2h 55m</h4>
              <img
                src="/images/productDetail/godfather.png"
                alt="godfather movie logo"
              />
              <form action="#" method="get" class="main__boockmark">
                <div class="main__boockmark-icon">
                  <i class="far fa-bookmark"></i>
                </div>
                <button type="button" class="main__boockmark-button">
                  Añadir a Mi lista
                </button>
              </form>
            </div>
            <div class="main__score-trailer-genre">
              <div class="main__score">
                <div class="main__score-imdb">
                  <i class="fas fa-star"></i>9,2/10
                  <p>1,8M</p>
                  <p>PUNTUACIÓN EN IMDb</p>
                </div>
                <div class="main__score-rottenTomatoes">
                  <p>97%</p>
                  <p>Tomatometer</p>
                </div>
                <div class="main__trailer">
                  <a href="https://www.youtube.com/watch?v=UaVTIH8mujA"
                    ><i class="fas fa-play"></i>Trailer</a
                  >
                </div>
                <div class="main__genre">
                  <div class="main__genre-1">Crimen</div>
                  <div class="main__genre-2">Drama</div>
                </div>
              </div>
            </div>
          </div>
          <div class="perro">
            <form action="#" method="get" class="main__buy-rent-buttons">
              <button type="button" class="main__buy-button">
                Comprar por $ 1559,90
              </button>
              <button type="button" class="main__rent-button">
                Alquilar por $ 499,90
              </button>
            </form>
          </div>
          <div class="main__synopsis">
            Don Vito Corleone es el jefe de una de las cinco familias que
            ejercen el mando de la Cosa Nostra en Nueva York en los años 40. Don
            Corleone tiene cuatro hijos; una chica, Connie, y tres varones,
            Santino, o Sonny, como le gusta que le llamen, Michael y Freddie, al
            que envían exiliado a Las Vegas, dada su incapacidad para asumir
            puestos de mando en la ”Familia”. Cuando otro capo, Sollozzo, al
            rechazar el Padrino intervenir en el negocio de estupefacientes,
            intenta asesinar a éste, empieza una cruenta lucha de violentos
            episodios entre los distintos grupos.
          </div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__container">
        <div class="footer__logo">
          <a href="/">
            <img src="/images/logo.png" alt="The Cinephile logo" />
          </a>
        </div>
        <form action="#" method="get" class="footer__buttons">
          <select name="footer_lenguage" id="lenguage">
            <option value="Español(España)">Español (España)</option>
            <option value="Inglés(Estados Unidos)">
              Inglés (Estados Unidos)
            </option>
            <option value="Frances">Frances</option>
            <option value="Italiano">Italiano</option>
          </select>
          <a href="#">Sobre nosotros</a>
          <a href="#">Política de privacidad</a>
          <a href="#">Empleo</a>
          <a href="#">Contactanos</a>
          <a href="#">Centro de ayuda</a>
          <a href="#">Preferencia de cookes</a>
        </form>
        <div class="footer__media">
          <a href="https://www.facebook.com"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="https://www.instagram.com"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
          <a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="copy">© 2016-2022 by Digital House.com, Inc.</div>
      </div>
    </footer>
  </body>
</html>
