<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <link rel="stylesheet" href="/css/productManagement.css" />
</head>

<body>
  <%- include("./partials/header") %>
  <main class="main">
    <div class="main__container">
      <form class="main__form" action="#" method="PUT">
        <div>
          <input type="text" class="text-box" id="product-name" name="product-name" placeholder="Nombre del producto" required>
        </div>
        <div>
          <input type="text" class="text-box" id="product-description" name="product-description" placeholder="Descripción del producto" required>
        </div>
        <div>
          <input type="text" class="text-box" id="imdb-score" name="imdb-score" placeholder="Puntaje de IMDb" required>
        </div>
        <div>
          <input type="text" class="text-box" id="imdb-totalReviews" name="imdb-totalReviews" placeholder="Reseñas totales de IMDb" required>
        </div>
        <div>
          <input type="text" class="text-box" id="tomato-score" name="tomato-score" placeholder="Puntaje de Rotten Tomatoes" required>
        </div>
        <div>
          <input type="text" class="text-box" id="trailerLink" name="trailerLink" placeholder="Link del trailer" required>
        </div>
        <div>
          <input type="text" class="text-box" id="product-genre1" name="product-genre1" placeholder="Género 1" required>
          <input type="text" class="text-box" id="product-genre2" name="product-genre2" placeholder="Género 2" required>
        </div>
        <div>
          <input type="text" class="text-box" id="purchasePrice" name="purchasePrice" placeholder="Precio de venta" required>
          <input type="text" class="text-box" id="rentalPrice" name="rentalPrice" placeholder="Precio de alquiler" required>
        </div>
        <div>
          <textarea class="textarea" id="product-synopsis" name="product-synopsis" cols="30" rows="10" wrap="hard" placeholder="Sinopsis del producto" required></textarea>
        </div>
        <div>
          <input type="text" class="text-box" id="director" name="director" placeholder="Director" required>
        </div>
        <div>
          <input type="text" class="text-box" id="script" name="cript" placeholder="Guionistas" required>
        </div>
        <div>
          <input type="text" class="text-box" id="actors" name="actors" placeholder="Reparto principal" required>
        </div>
        <div>
          <input type="text" class="text-box" id="directedBy" name="directedBy" placeholder="Dirigidas por el director" required>
        </div>
        <div>
          <input type="text" class="text-box" id="similar" name="similar" placeholder="Similares" required>
        </div>
        <div class="main__button">
          <button type="submit" class="send-button">Enviar</button>
        </div>
        <div class="main__button">
          <button type="reset" class="delete-button">Borrar</button>
        </div>
      </form>
    </div>
  </main>
  <%- include("./partials/footer") %>
</body>

</html>