<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <link rel="stylesheet" href="/css/productManagement.css" />
</head>

<body>
  <%- include("./partials/header") %>
  <main>
<h1>hola</h1>
  </main>
  <%- include("./partials/footer") %>
</body>

</html>