<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>
    <%- include("./partials/header") %>
    <main id="main">
      <div class="formulario">
        <form action="/registro" method="post" class="form-login" id="form1">
         <div class="cruzA"> 
            <i class="fas fa-window-close" class="cruzicono"></i>
          </div>
            <div id="titulo-formulario">
              <i class="fas fa-address-book"></i>   
            <h1 class="Crear Cuenta" style=color:white>Crear Cuenta</h1>
            </div>
            <div id="usuario"><p style=color:white >Usuario</p></div>
            <div id="usuariobloque" >
              <input
                type="text"
                id="user"
                name="user"
                placeholder="Usuario_Pelis"
                class="text"
                required
              />
            </div>
        <div id="email-div"><p style=color:white>Email</p></div>
        <div id="emailbloque" >
          <input
            type="email"
            id="email"
            name="email"
            placeholder="TuEmail@Cinephile.com"
            class="mail"
            required
          />
        </div>
        <div id="password-div"><p style=color:white>Contraseña</p></div>
        <div id="passwordbloque">
          <input 
            type="password"
            id="password"
            name="password"
            placeholder="Contraseña"
            class="text-box"
            required
          />
        </div>
        <div id="registrar">
          <a href="/"
            ><button type="submit" class="send-button">Registrar</button></a
          >
        </div>
      </form>
    </div>  
    </div>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
