* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Roboto;
  font-size: 12px;
  background-color: white;
  line-height: 0px;
  text-decoration: none;
  color: black;
}

.header__container {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0px 5%;
}

.header__dropMenu-logo {
  width: 45%;
}

.header__drop-logo-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.header__burger-menu {
  color: white;
  background-color: black;
  border: none;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 120ms;
}

.header__burger-menu:hover {
  color: #ffc700;
}

.header__logo {
  background-color: black;
  border: none;
}

.header__logo img {
  height: auto;
  width: auto;
  max-width: 110px;
  cursor: pointer;
}

.header__search-container {
  width: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__search-bar {
  flex-grow: 7;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: white;
}

.header__search-bar input {
  flex: 1;
  border: 0;
  font-size: 15px;
  color: #666666;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
}

.header__search-bar button {
  background-color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 15px;
  color: #666666;
  transition: all 120ms;
}

.header__search-bar button:hover {
  color: #ffc700;
  cursor: pointer;
}

.header__nav {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.header__dropdown-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  padding-right: 60px;
}

.header__dropdown-buttons a {
  width: 100px;
  font-size: 15px;
  text-align: center;
  padding: 13px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #1b1b1b;
  text-decoration: none;
  transition: all 120ms;
}

.header__dropdown-buttons a:hover {
  background-color: #ffc700;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.header__nav-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-buttons a {
  color: white;
  background-color: black;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: all 120ms;
}

.header__nav-buttons a:hover {
  color: #ffc700;
  font-weight: bold;
}

/*MEDIA QUERIES*/

/*MOBILE*/

@media (max-width: 599px) {
  .header__container {
    width: 100%;
  }

  .header__search-container {
    display: none;
  }

  .header__dropdown-buttons {
    display: none;
  }
}

/*TABLET*/

@media (min-width: 600px) {
  .header__dropMenu-logo {
    width: auto;
  }

  .header__burger-menu {
    margin-right: 40px;
  }

  .header__logo img {
    width: 110px;
  }

  .header__search-container {
    width: 45%;
  }

  .header__nav {
    width: 15%;
  }

  .header__dropdown-buttons {
    display: none;
  }

  .header__profile {
    margin-left: 15%;
  }

  .header__nav-search {
    display: none;
  }
}

/*DESKTOP*/

@media (min-width: 1200px) {
  .header__container {
    padding: 0px 30px;
  }

  .header__dropMenu-logo {
    width: 20%;
    justify-content: center;
  }

  .header__drop-logo-form {
    justify-content: center;
  }

  .header__burger-menu {
    display: none;
  }

  .header__search-container {
    display: none;
  }

  .header__nav {
    width: 75%;
  }

  .header__dropdown-buttons {
    display: flex;
  }

  .header__nav-buttons {
    width: 20%;
    margin-right: 30px;
  }

  .header__profile {
    margin-left: 0px;
  }

  .header__dropdown-buttons a {
    display: block;
  }

  .header__nav-search {
    display: block;
  }
}

/*LARGE-DESKTOP*/

@media (min-width: 1440px) {
  .header__search-container {
    display: block;
    width: 30%;
  }

  .header__search-bar {
    width: 90%;
  }

  .header__dropdown-buttons {
    width: 80%;
  }

  .header__nav-buttons {
    width: 12%;
    margin-right: 60px;
  }

  .header__nav-search {
    display: none;
  }
}
