/*MAIN*/

.img_main img {
  width: 100%;
  background-size: cover;
  object-fit: cover;
  display: flex;
  position: relative;
}

.top1 img {
  left: 0;
  top: 0;
  width: 10%;
  height: 10%;
  margin: 0;
  z-index: 50;
  position: absolute;
}

main {
  background-color: #212121;
  display: flex;
  flex-direction: column;
  position: relative;
}

main section.ultimos_lanzamientos h3 {
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  color: white;
}

main section h3 {
  margin: 20px 20px;
}

main section div.movies img.movies_img {
  
  width: 20%;
  padding: 0px 0px 0px 20px;
}

main section div.movies {
  display: flex;
  overflow-y: auto;
  padding: 5px 20px 5px 5px;
}

main section div.movies img.movies_img:hover {
  box-shadow: 5px 0px 0px 0px grey;
}

main section.mas_alquilado h3 {
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  color: white;
}

main section div.movies_alq img.movies_img {
  
  width: 20%;
  padding: 0px 0px 0px 20px;
}

main section div.movies_alq {
  display: flex;
  overflow-y: auto;
  padding: 5px 20px 5px 5px;
}

main section div.movies_alq img.movies_img:hover {
  box-shadow: 5px 0px 0px 0px grey;
}

.movies_img_b{
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 20px;
}

.movies_img_b:hover {
  box-shadow: 5px 0px 0px 0px grey;
}

main section.ultimas_series h3 {
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  color: white;
}

main section div.series img.movies_img {
  width: 20%;
  padding: 0px 0px 0px 20px;
}

main section div.series {
  display: flex;
  overflow-y: auto;
  padding: 5px 20px 5px 5px;
}

main section div.series img.movies_img:hover {
  box-shadow: 5px 0px 0px 0px grey;
}

main section.peliculas_infantiles h3 {
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  color: white;
}

main section div.pelis_infantil img.movies_img {
  width: 20%;
  padding: 0px 0px 0px 20px;
}

main section div.pelis_infantil {
  display: flex;
  overflow-y: auto;
  padding: 5px 20px 5px 5px;
}

main section div.pelis_infantil img.movies_img:hover {
  box-shadow: 5px 0px 0px 0px grey;
}

/*MEDIA QUERIES*/

/*MOBILE*/

@media (max-width: 599px) {
  /*MAIN*/
}

/*TABLET*/

@media (min-width: 600px) {
  /*MAIN*/
}

/*DESKTOP*/

@media (min-width: 1200px) {
  /*MAIN*/

  .top1 img {
    left: 0;
    top: 10;
    width: 100px;
    height: 100px;
    margin: 0;
    z-index: 50;
  }
}

/*LARGE-DESKTOP*/

@media (min-width: 1440px) {
  /*MAIN*/

  .top1 img {
    left: 0;
    top: 10;
    width: 100px;
    height: 100px;
    margin: 0;
    z-index: 50;
  }
}
