/*MAIN*/

.img_main img {
  width: 100%;
  background-size: cover;
  object-fit: cover;
  display: flex;
}

.top1 img {
  left: 0;
  top: 10;
  width: 70px;
  height: 70px;
  margin: 0;
  z-index: 50;
}

main {
  background-color: black;
  display: flex;
  flex-direction: column;
  position: relative;
}

main section.ultimos_lanzamientos h3 {
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  color: white;
}

main section h3 {
  margin: 20px 20px;
}

main section div.movies img.movies_img {
  
  width: 20%;
  padding: 0px 0px 0px 20px;
  /*
  height: 50%;
  position: relative;
  flex-direction: row;
  object-fit: cover;
<<<<<<< HEAD
  justify-content: space-around;
  padding: 0px 0px 0px 20px;
  */  
=======
  width: 100%;
  padding: 0px 0px 0px 20px;
>>>>>>> db693298c20e8eeca1fad6f4a38a5ec08c0aa04a
}

main section div.movies {
  display: flex;
  overflow-y: auto;
  padding: 5px 20px 5px 5px;
}

main section div.movies img.movies_img:hover {
  box-shadow: 5px 5px 5px rgb(100, 100, 100);
}

main section.mas_alquilado h3 {
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  color: white;
}

main section div.movies_alq img.movies_img {
  
  width: 20%;
  padding: 0px 0px 0px 20px;
  /*
  height: 50%;
  position: relative;
  flex-direction: row;
  object-fit: cover;
  width: 100%;
  padding: 0px 0px 0px 20px;*/
}

main section div.movies_alq {
  display: flex;
  overflow-y: auto;
  padding: 5px 20px 5px 5px;
}

main section div.movies_alq img.movies_img:hover {
  box-shadow: 5px 5px 5px rgb(100, 100, 100);
}

main section.ultimas_series h3 {
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  color: white;
}

main section div.series img.movies_img {
  width: 20%;
  padding: 0px 0px 0px 20px;
  /*
  height: 50%;
  position: relative;
  flex-direction: row;
  object-fit: cover;
  width: 100%;
  padding: 0px 0px 0px 20px;*/
}

main section div.series {
  display: flex;
  overflow-y: auto;
  padding: 5px 20px 5px 5px;
}

main section div.series img.movies_img:hover {
  box-shadow: 5px 5px 5px rgb(100, 100, 100);
}

main section.peliculas_infantiles h3 {
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  color: white;
}

main section div.pelis_infantil img.movies_img {
  width: 20%;
  padding: 0px 0px 0px 20px;
  /*
  height: 50%;
  position: relative;
  flex-direction: row;
  object-fit: cover;
  width: 100%;
  padding: 0px 0px 0px 20px;*/
}

main section div.pelis_infantil {
  display: flex;
  overflow-y: auto;
  padding: 5px 20px 5px 5px;
}

main section div.pelis_infantil img.movies_img:hover {
  box-shadow: 5px 5px 5px rgb(100, 100, 100);
}

/*MEDIA QUERIES*/

/*MOBILE*/

@media (max-width: 599px) {
  /*MAIN*/
}

/*TABLET*/

@media (min-width: 600px) {
  /*MAIN*/
}

/*DESKTOP*/

@media (min-width: 1200px) {
  /*MAIN*/

  .top1 img {
    left: 0;
    top: 10;
    width: 100px;
    height: 100px;
    margin: 0;
    z-index: 50;
  }
}

/*LARGE-DESKTOP*/

@media (min-width: 1440px) {
  /*MAIN*/

  .top1 img {
    left: 0;
    top: 10;
    width: 100px;
    height: 100px;
    margin: 0;
    z-index: 50;
  }
}
