/*MAIN*/

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.conjunto {
  position: relative;
  text-align: center;
}

.img_main {
  margin-bottom: 40px;
}

.main__last-realease {
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  color: #ffc700;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #212121;
  padding: 20px;
  border-radius: 10px;
}

.img_main img {
  width: 100%;
  background-size: cover;
}

main {
  background-color: #212121;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 0 auto;
}

h3 {
  margin: 10px 20px;
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.products {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main__product-list a {
  text-decoration: none;
}

.main__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.main__img-container img {
  margin: 0px 10px;
  border-radius: 10px;
  width: 180px;
  height: 267.75px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.main__product-name {
  line-height: 22px;
  font-size: 16px;
  font-weight: bold;
  width: 125px;
  padding-bottom: 20px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  margin: auto;
}

.main__slider {
  height: 100%;
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main__slider::-webkit-scrollbar {
  display: none;
}

.main__slider-inner {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 100%;
  padding: 15px 0px;
}

.main__product-list {
  width: 95%;
  height: auto;
  cursor: grab;
  margin-bottom: 30px;
  margin-top: 20px;
}

.main__product-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  color: white;
  margin-right: 28px;
  padding-bottom: 17px;
  background-color: #171717;
  border-radius: 10px;
  transition: all 120ms;
}

.main__product-article a {
  text-decoration: none;
  color: white;
  width: auto;
}

.main__product-article:last-child {
  margin-right: 0px;
}

.main__product-article:hover {
  box-shadow: 0px 0px 10px rgba(60, 64, 67, 0.9);
}

.main__boockmark {
  display: flex;
  color: #ffc700;
  cursor: pointer;
  transition: all 120ms;
  margin-bottom: 20px;
  justify-content: center;
}

.main__boockmark:hover {
  color: #fce89f;
}

.main__boockmark-icon {
  font-size: 20px;
  margin-right: 10px;
}

.main__boockmark-button {
  color: #ffc700;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 120ms;
}

.main__boockmark-button:hover {
  color: #fce89f;
}

/*MEDIA QUERIES*/

/*MOBILE*/

@media (max-width: 599px) {
  /*MAIN*/
}

/*TABLET*/

@media (min-width: 600px) {
  /*MAIN*/

  html {
    font-size: 18px;
    line-height: 26px;
  }

  .main__product-list {
    /*width: 80%;*/
  }

  .main__product-article {
    /*margin: 15px 15px;*/
  }
}

/*DESKTOP*/

@media (min-width: 1200px) {
  /*MAIN*/
  .img_main img {
    height: 50vh;
  }
  .main__product-list {
    width: 90%;
  }
}

/*LARGE-DESKTOP*/

@media (min-width: 1440px) {
  /*MAIN*/
}
