/*MAIN*/

#main {
  margin: auto;
  height: 100%;
  width: 100%;
  padding: 20px 0px;
  background-color: rgba(27, 27, 27, 0.92);
  font-size: 10px;
}

input:focus { 
  color: white; 
} 
.formulario {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form.form-login {
  height: 95%;
  width: 80%;
  background-color: rgba(27, 27, 27, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
}

form.form-login i {
  color: white;
  font-size: 66%;
  width: 23%;
  display: flex;
  justify-content: flex-end;
}

.cruzA {
  display: flex;
  flex-direction: row-reverse;
  padding: 15px;
  height: 8%;
  width: 100%;
  max-height: 32px;
}

.fa-window-close:before {
  background-color: rgba(27, 27, 27, 0.5);
  color: #ffc700;
  padding: 2%;
  padding-right: 13%;
  border-radius: 1px 1px 1px 1px;
  font-size: 200%;
}

h1.conectate {
  font-size: 100%;
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
  padding-bottom: 5%;
}

div.email-contraseña {
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 4%;
  padding-bottom: 3%;
}

#email {
  background-color: #1b1b1b;
}

#password {
  display: flex;
}

#email, #password {
  display: flex;
  background-color: #1b1b1b;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #f8efefd0;
  width: 100%;
  padding-left: 1%;
  border-style: solid;
  padding-top: 4%;
  border-radius: 10px 10px 0px 0px;
}
#emailbloque{
  padding-bottom: 5%;
  width: 65%;
}
#passwordbloque{
  width: 65%;
  margin-bottom: 4%;
}

.fa-envelope:before {
  padding-right: 10%;
}

.fa-lock:before {
  padding-right: 10%;
}

button.send-button {
  background-color: #ffc700;
  margin-bottom: 5%;
  font-weight: bold;
  border: none;
  text-decoration: none;
  padding-top: 14%;
}

.div-edit {
  background-color: #ffc700;
  width: 45%;
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 10px 10px;
  text-decoration: none;

}

#checkboxBox {
    padding: 10px 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 3%;
}

#checkbox {
  margin-right: 3%;
}

#contraseña {
  color: #ffc700;
  padding-top: 5%;
  
}

#olvidaste {
  padding-bottom: 7%;
  display: flex;
  width: 75%;
  justify-content: center;
  margin: 0 auto;
}


.msg-error {
  color: red;
  display: flex;
  justify-content: center;
  padding-top: 4%;
}

#password {
  display: flex;
}

.errorlogin {
  color: red;
  display: flex;
  justify-content: center;
  padding-top: 4%;
}

/*MEDIA QUERIES*/

/*MOBILE*/

@media (max-width: 599px) {
  /*MAIN*/
}

/*TABLET*/

@media (min-width: 600px) {
  /*MAIN*/
  #main {
    font-size: 15px;
  }

  #checkbox {
    height: 20px;
    width: 16px;
  }
  .fa-envelope:before {
    font-size: 15px;
  }
  .fa-lock:before {
    font-size: 15px;
  }
}

/*DESKTOP*/

@media (min-width: 1200px) {
  /*MAIN*/
  #main {
    font-size: 18px;
  }


  #emailbloque,
  #passwordbloque {
    width: 60%;
    border-radius: 10px 10px 10px 10px;
  }

  #email,
  #password {
    width: 100%;
  }

  .div-edit {
    height: 50px;   
}

#checkbox {
  height: 30px;
  width: 24px;
}

#olvidaste {
  padding-bottom: 5%;
}

.fa-envelope:before {
  font-size: 20px;
}
.fa-lock:before {
  font-size: 20px;
}
}

/*LARGE-DESKTOP*/

@media (min-width: 1440px) {
/*MAIN*/
  #main {
    font-size: 22px;
  }
  .fa-envelope:before {
    font-size: 23px;
  }
  .fa-lock:before {
    font-size: 23px;
  }

}
