/*MAIN*/

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #212121;
}

.main {
  background-color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
  position: relative;
}

.main__container {
  width: 90%;
  max-width: 1100px;
  margin: 30px auto;
  background-color: #292929;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(60, 64, 67, 0.9);
}

.main__nav-menu {
  width: 90%;
}

.main__nav-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 1.4rem;
  padding: 1rem 0 2rem 0;
  margin-top: 30px;
}

.main__nav-list a {
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
}

.main__login {
  border-bottom: 3px solid #ffc700;
}

.main__form {
  width: 100%;
}

.main__form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  column-gap: 3rem;
}

.main__account-form {
  position: relative;
  display: block;
  width: 100%;
  max-width: 450px;
  margin-top: 50px;
  padding: 16px;
  color: #ffffff;
  border-radius: 4px;
}

.main__account-form {
  padding-bottom: 0px;
}

.main__form-input-error {
  display: flex;
  flex-direction: column;
}

.main__form-input {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.error-indicator::after {
  border-bottom: 2px solid #ffc700;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  bottom: 16px;
  content: "";
  display: block;
  height: 6px;
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.main__form-error {
  padding-left: 10px;
  margin-bottom: 20px;
  color: #ffc700;
}

.main__form-error-front {
  display: none;
  padding-left: 10px;
  margin-bottom: 20px;
  color: #ffc700;
}

.main__form-error-front-genres {
  margin-top: 16px;
}

.main__text-box {
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  padding: 16px 20px 0 20px;
  height: 50px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #1b1b1b;
  color: white;
}

.main__input-label {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 38.5%;
  left: 20px;
  font-size: 18px;
  cursor: text;
  color: #8c8c8c;
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease,
    -webkit-transform 0.1s ease, -moz-transform 0.1s ease,
    -o-transform 0.1s ease;
}

input:focus ~ .main__input-label,
input:valid ~ .main__input-label {
  font-size: 11px;
  top: 15px;
}

.main__input-description {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 1rem;
}

.main__remember-container {
  font-size: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#remember {
  accent-color: #ffc700;
  margin-right: 10px;
  transform: scale(1.2);
}

.main__button {
  font-size: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-button {
  background-color: #ffc700;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70%;
  max-width: 250px;
  cursor: pointer;
  transition: all 120ms;
}

.send-button:hover {
  background-color: #fce89f;
}

.reset-button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 70%;
  max-width: 250px;
  cursor: pointer;
  transition: all 120ms;
}

.reset-button:hover {
  background-color: #b4b4b4;
}

/*MEDIA QUERIES*/

/*MOBILE*/

@media (max-width: 599px) {
  /*MAIN*/
  .main__nav-list a {
    text-decoration: none;
    color: white;
    padding: 1rem 0rem;
  }
}

/*TABLET*/

@media (min-width: 600px) {
  /*MAIN*/
}

/*DESKTOP*/

@media (min-width: 1200px) {
  /*MAIN*/
  .main__form-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .main__account-form {
    padding-bottom: 16px;
  }
}

/*LARGE-DESKTOP*/

@media (min-width: 1440px) {
  /*MAIN*/
}
