/*MAIN*/

#main {
  margin: auto;
  height: 100%;
  width: 100%;
  padding: 20px 0px;
  background-color: rgba(27, 27, 27, 0.92);
  font-size: 14px;
}

.formulario {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form.form-login {
  height: 70%;
  width: 80%;
  border-width: 1px;
  background-color: rgba(27, 27, 27, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
}

form.form-login i {
  color: white;
  font-size: 66%;
  width: 23%;
  display: flex;
  justify-content: flex-end;
}

.cruzA {
  display: flex;
  flex-direction: row-reverse;
  padding: 15px;
  height: 8%;
  width: 100%;
}

.fa-window-close:before {
  background-color: rgba(27, 27, 27, 0.5);
  color: #ffc700;
  padding: 2%;
  padding-right: 13%;
  border-radius: 1px 1px 1px 1px;
  font-size: 170%;
}

h1.conectate {
  font-size: 100%;
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
}

div.email-contraseña {
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 4%;
  margin-bottom: 1%;
}

#email {
  background-color: #1b1b1b;
}

#password {
  display: flex;
  margin-bottom: 12%;
}

#email,
#password {
  display: flex;
  background-color: #1b1b1b;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #f8efefd0;
  width: 100%;
  padding-bottom: 3%;
  padding-left: 4%;
  border-style: solid;
  padding-top: 5%;
  border-radius: 10px 10px 0px 0px;
}

.fa-envelope:before {
  padding-right: 10%;
}

.fa-lock:before {
  padding-right: 10%;
}

button.send-button {
  background-color: #ffc700;
  margin-bottom: 5%;
  font-weight: bold;
  border: none;
  text-decoration: none;
  padding-top: 14%;
}

.div-edit {
  background-color: #ffc700;
  width: 70%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  border-radius: 10px 10px 10px 10px;
  text-decoration: none;
  margin-top: 2%;
}

#checkboxBox {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 17%; */
  margin-top: 0.7%;
}

#checkbox {
  border-width: 5px;
  border-style: dotted;
  width: 25%;
  font-size: 80%;
}

#contraseña {
  color: #00d4bb;
}

#olvidaste {
  margin-bottom: 4%;
}

/*MEDIA QUERIES*/

/*MOBILE*/

@media (max-width: 599px) {
  /*MAIN*/
}

/*TABLET*/

@media (min-width: 600px) {
  /*MAIN*/
  #main {
    font-size: 15px;
  }

  #checkbox {
    margin-top: 0.7%;
  }

  #checkboxBox {
    padding-top: 2%;
    padding-right: 20%;
    height: 12%;
  }

  #email,
  #password {
    width: 116%;
  }
}

/*DESKTOP*/

@media (min-width: 1200px) {
  /*MAIN*/
  #main {
    font-size: 18px;
  }

  #checkboxBox {
    padding-right: 20%;
    height: 15%;
    padding-bottom: 4%;
  }

  #emailbloque,
  #passwordbloque {
    width: 60%;
    height: 20%;
    border-radius: 10px 10px 10px 10px;
  }

  #email,
  #password {
    width: 100%;
  }

  form.form-login {
    height: 75%;
    width: 45%;
  }

  .div-edit {
    margin-bottom: 5%;
    margin-top: 0%;
  }
}

/*LARGE-DESKTOP*/

@media (min-width: 1440px) {
/*MAIN*/
  #main {
    font-size: 19px;
  }

  #checkboxBox {
    padding-right: 20%;
    height: 15%;
    padding-bottom: 4%;
  }

  #emailbloque,
  #passwordbloque {
    width: 60%;
    height: 15%;
  }

  #email {
    width: 100%;
    height: 70%;
  }

  #password {
    width: 100%;
    height: 60%;
  }

  form.form-login {
    height: 80%;
    width: 45%;
  }

  .div-edit {
    margin-bottom: 5%;
    margin-top: 0%;
  }
}
