/*MAIN*/

.main {
  background-color: #212121;
  position: relative;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 1350px;
}

.main__carrito {
  margin: 15px;
  color: white;
  opacity: 0.8;
}

/* main__carrito-header*/

.main__carrito-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
}

.main__carrito-header h1 {
  color: white;
}

.main__carrito-header form {
  margin-top: -33px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 49px;
}

.main__continuar-comprando-button {
  width: 112px;
  height: 15px;
  font-size: 9px;
  border: transparent;
  background: transparent;
  color: white;
}

.main__continuar-comprando-icono i {
  color: #ffc700;
  margin-left: -9px;
  margin-top: 2px;
}

/* main__carrito-movies */

h2 {
  margin-top: 23px;
  margin-left: 15px;
}

.subtotal {
  margin-left: 292px;
  margin-bottom: 14px;
}

.main__carrito-movies {
  display: flex;
  flex-wrap: wrap;
  border-bottom: black solid 1px;
}

.main__carrito-movies h3 {
  margin-top: 13px;
  margin-bottom: 13px;
}

.main__carrito-movie {
  display: flex;
  justify-content: space-between;
  border-top: black solid 1px;
}

.main__movie-poster {
  width: 30%;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.main__movie-poster img {
  width: 100%;
  margin: 10px;
  border-radius: 4%;
  justify-content: center;
}

.main__movie-description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  max-width: 144px;
}

.main__movie-description-header {
  margin: 20px;
  color: white;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
}

.genero {
  font-size: 9px;
  display: flex;
  width: 100%;
  max-width: 165px;
}

.genero p {
  text-align: center;
  padding: 5px;
  border: rgba(255, 255, 255, 0.5) solid 1px;
  border-radius: 10px;
  margin-right: 4px;
}

.main__movie-description-content {
  margin-bottom: 27px;
  display: flex;
  flex-direction: column;
}

.main__movie-description-content p {
  margin-left: 22px;
}

.subtitulo {
  margin-bottom: 23px;
  font-size: 10px;
}

.precio-articulo-compra {
  margin-bottom: 31px;
  font-size: 10px;
  text-align: center;
  border: black solid 0.5px;
  padding: 8px;
  border-radius: 10px;
  background-color: #ffc700;
  color: #1b1b1b;
}

.precio-articulo-alquiler {
  margin-bottom: 31px;
  font-size: 10px;
  text-align: center;
  border: rgba(255, 255, 255, 0.5) solid 1px;
  padding: 8px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffc700;
}

.main__movie-description-content form {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
}

.main__movie-description-content form label {
}

.main__movie-description-content form input {
  width: 25px;
  margin-left: 5px;
}

.main__movie-subtotal {
  display: flex;
  border-left: black solid 1px;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.main__movie-subtotal p {
  font-size: 10px;
  margin-left: 10px;
}

.main__movie-subtotal i {
  margin-left: 60px;
  margin-top: -6px;
}

/* main__carrito-checkout */

.main__carrito-checkout {
  display: flex;
  flex-wrap: wrap;
  margin: -6px 25px;
  flex-direction: column;
}

.main__carrito-checkout-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.main__carrito-checkout-content div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
}

.etiquetas {
  margin-right: 8px;
  opacity: 0.8;
}

.total-a-pagar {
  margin-right: 8px;
  font-weight: bold;
}

.main__carrito-checkout-button {
  margin-top: 127px;
}

/*MEDIA QUERIES*/

/*MOBILE*/

@media (max-width: 599px) {
}

/*TABLET*/

@media (min-width: 600px) {
  /*MAIN*/
}

/*DESKTOP*/

@media (min-width: 1200px) {
  /*MAIN*/
}

/*LARGE-DESKTOP*/

@media (min-width: 1440px) {
  /*MAIN*/
}
