/*MAIN*/

/* #main {
  margin-bottom: 0px;
  margin-top: 0px;
  width: 100%;
  padding: 20px 0px;
  background-color: rgba(27, 27, 27, 0.92);
  display: flex;
  font-size: 18px;
  flex-wrap: wrap;
  flex: 1 0 auto;
  justify-content: space-around;
}

body {
  font-family: Roboto;
  font-size: 12px;
  background-color: white;
  line-height: 0px;
  text-decoration: none;
  color: black;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

input:focus {
  color: white;
}
.footer {
  flex-shrink: 0;
}
.main__container {
  width: 70%;
  background-color: rgba(27, 27, 27, 0.5);
  border-radius: 10px 10px 10px 10px;
}

.cruzA {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 10px;
  padding-right: 25px;
}

.fa-window-close:before {
  color: #ffc700;
  font-size: 12px;
}
.fa-address-book:before {
  content: "\f2b9";
  font-size: 20px;
}

#form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titulo-formulario {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: baseline;
}

h1.Crear.Cuenta {
  font-size: 18px;
  letter-spacing: 5px;
  padding-bottom: 5%;
  padding-top: 19%;
}

.fa-address-book {
  display: flex;
  justify-content: flex-end;
  color: rgba(246, 233, 233, 0.78);
  padding-top: 1%;
  padding-right: 8%;
}

#usuario,
#email-div,
#password-div {
  padding-bottom: 8%;
  display: flex;
  width: 100%;
  padding-top: 5%;
  margin: 0px auto;
  align-items: flex-start;
  padding-left: 25%;
}

#email-div,
#password-div {
  padding-top: 5%;
}

#registrar {
  background-color: #ffc700;
  width: 35%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border-radius: 10px 10px 10px 10px;
  margin-top: 5%;
}

.send-button {
  background-color: #ffc700;
  font-weight: bold;
  border: none;
}

#usuariobloque,
#emailbloque,
#passwordbloque {
  display: flex;
  justify-content: center;
  width: 100%;
}

#user,
#password {
  font-size: 1.2rem;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  background-color: #1b1b1b;
  border: solid 1px rgba(255, 255, 255, 0.3);
  color: white;
}
.errorDiv {
  padding-top: 6%;
  font-size: 15px;
  padding-bottom: 4%;
}
.msg-error {
  color: red;
} */

/*NUEVO REGISTER*/

/* .main__form-container {
  position: relative;
} */

/* .main__form {
  background-color: #212121;
} */

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #212121;
}

.main {
  background-color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
  position: relative;
}

.main__container {
  width: 90%;
  max-width: 1100px;
  margin: 30px auto;
  background-color: #292929;
  /*  border: 1px solid red; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(60, 64, 67, 0.9);
}

.main__nav-menu {
  width: 50%;
}

.main__nav-list {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 1.6rem;
  padding: 1rem 0 2rem 0;
  margin-top: 30px;
}

.main__nav-list a {
  text-decoration: none;
  color: white;
  padding: 2rem 4rem;
}

.main__register {
  border-bottom: 3px solid #ffc700;
}

.main__form-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 3rem;
}

.main__account-form {
  position: relative;
  display: block;
  width: 450px;
  margin: 50px auto;
  padding: 16px;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid blue;
}

.main__personal-form {
  position: relative;
  display: block;
  width: 450px;
  margin: 50px auto;
  padding: 16px;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid green;
}

.main__form-input {
  position: relative;
  margin: 0 auto;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main__text-box {
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  padding: 16px 20px 0 20px;
  height: 50px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #1b1b1b;
  color: white;
}

.main__input-label {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 37%;
  left: 20px;
  font-size: 18px;
  cursor: text;
  color: #8c8c8c;
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease,
    -webkit-transform 0.1s ease, -moz-transform 0.1s ease,
    -o-transform 0.1s ease;
}

input:focus ~ .main__input-label,
input:valid ~ .main__input-label {
  font-size: 11px;
  top: 15px;
}

.main__input-description {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
}

.main__genre-select {
  display: flex;
  justify-content: space-around;
}

.main__select {
  width: 40%;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  border: none;
  background-color: #1b1b1b;
  color: white;
}

.main__birthdate-input {
  height: 50px;
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #1b1b1b;
  color-scheme: dark;
}

/*MEDIA QUERIES*/

/*MOBILE*/

@media (max-width: 599px) {
  /*MAIN*/
}

/*TABLET*/

@media (min-width: 600px) {
  /*MAIN*/

  
}

/*DESKTOP*/

@media (min-width: 1200px) {
  /*MAIN*/

  
}

/*LARGE-DESKTOP*/

@media (min-width: 1440px) {
  /*MAIN*/
  
}
