/*MAIN*/

#main {
  margin-bottom: 0px;
  margin-top: 0px;
  height: 100%;
  width: 100%;
  padding: 20px 0px;
  background-color: rgba(27, 27, 27, 0.92);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 8px;
}

input:focus { 
  color: white; 
} 

.formulario {
  height: 80%;
  width: 80%;
  background-color: rgba(27, 27, 27, 0.5);
  border-radius: 10px 10px 10px 10px;
}

.cruzA {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 10px;
  padding-right: 25px;
}

.fa-window-close:before {
  color: #ffc700;
  font-size: 12px;
}
.fa-address-book:before {
  content: "\f2b9";
  font-size: 10px;
}

#form1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#titulo-formulario {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: baseline;
}


h1.Crear.Cuenta {
  font-size: 9px;
  letter-spacing: 3px;
  padding-bottom: 5%;
}

.fa-address-book {
  display: flex;
  justify-content: flex-end;
  color: rgba(246, 233, 233, 0.78);
  padding-top: 1%;
  padding-right: 4%;
}


#usuario, #email-div, #password-div {
  padding-bottom: 2%;
  display: flex;
  width: 100%;
  padding-top: 3%;
  margin: 0px auto;
  align-items: flex-start;
  padding-left: 25%;
}

#email-div, #password-div{
  padding-top: 5%;
}

#registrar {
  background-color: #ffc700;
  width: 28%;
  max-width: 80px;
  display: flex;
  justify-content: center;
  border-radius: 5px 5px 5px 5px;
  text-decoration: none;
  border-radius: 10px 10px 10px 10px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.send-button {
  background-color: #ffc700;
  font-weight: bold;
  border: none;
}

#usuariobloque,
#emailbloque,
#passwordbloque {
  background-color: #1b1b1b;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #f8efefd0;
  border-style: solid;
  border-radius: 10px 10px 0px 0px;
  width: 50%;
}

#user, #email, #password {
  background-color: #1b1b1b;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
  width: 100%;
  padding-top: 3%;
  padding-left: 1%;
}
.errorDiv{
  padding-top: 2%
}
.msg-error {
  color:red;
}

/*MEDIA QUERIES*/

/*MOBILE*/

@media (max-width: 599px) {
  /*MAIN*/
}

/*TABLET*/

@media (min-width: 600px) {
  /*MAIN*/

  #main {
    font-size: 17px;
  }

  .cruzA {
    width: 82%;
    padding-top: 6%;
  }

  .fa-window-close:before {
    font-size: 20px;
  }

  #titulo-formulario {
    padding-bottom: 2%;
}
  h1.Crear.Cuenta {
    font-size: 20px;
  }

  
  .fa-address-book:before {
    content: "\f2b9";
    font-size: 20px;
}


  .formulario {
    height: 75%;
  }

  #registrar {
    width: 35%;
    max-width: 360px;
}

#registrar {
  max-width: 170px;
}


}

/*DESKTOP*/

@media (min-width: 1200px) {
  /*MAIN*/

  #main {
    font-size: 23px;
  }

  h1.Crear.Cuenta {
    font-size: 21px;
  }

  .fa-window-close:before {
    font-size: 25px;
}

  .cruzA {
    width: 85%;
    padding-top: 4%;
  }

  .fa-address-book:before {
    font-size: 23px;
}
#registrar {
  max-width: 270px;
}

}

/*LARGE-DESKTOP*/

@media (min-width: 1440px) {
  /*MAIN*/
  #main {
    font-size: 24px;
  }

  h1.Crear.Cuenta {
    font-size: 25px;
  }

  .fa-window-close:before {
    font-size: 28px;
}

  .cruzA {
    width: 85%;
    padding-top: 4%;
  }

  .fa-address-book {
    padding-top: 3%;
  }

  .fa-address-book:before {
    font-size: 25px;
}
#registrar {
  max-width: 340px;
}
}
