<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <link rel="stylesheet" href="/css/products/productCast.css" />
</head>

<body>
  <%- include("./partials/header") %>
  <main class="main">
    <div class="main__container">
      <form class="main__form" action="/product/create/productionTeam" enctype="multipart/form-data" method="POST">
        <div class="main__radioForm">
          <div class="main__radioForm-container">
            <div>
              <input type="radio" name="radio" id="actor" value="actor" required />
              <label for="actor">Actor</label>
            </div>
            <div>
              <input type="radio" name="radio" id="director" value="director" required />
              <label for="director">Director</label>
            </div>
            <div>
              <input type="radio" name="radio" id="screenwriter" value="screenwriter" required />
              <label for="screenwriter">Guionista</label>
            </div>
          </div>
        </div>
        <div>
          <input type="text" class="text-box" id="actorsName" name="name" placeholder="Nombre y apellido" required>
        </div>
        <div>
          <input type="url" class="text-box" id="actorsBiography" name="biography_link" placeholder="Link de biografía" required>
        </div>
        <div class="main__file-wrap">
          <div class="main__fieldDescription">Fotografía</div>
          <label for="directorsPhoto"></label>
          <input type="file" id="actorsPhoto" name="photo" accept="image/jpg, image/png, image/jpeg" required>
        </div>
        <div class="main__button">
          <button type="submit" class="send-button">Subir</button>
        </div>
        <div class="main__button">
          <button type="reset" class="reset-button">Reiniciar campos</button>
        </div>
      </form>
      <div class="main__button">
        <a href="/product/list">
          <button class="back-button">Volver atras</button>
        </a>
      </div>
    </div>
  </main>
  <%- include("./partials/footer") %>
</body>

</html>