<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <link rel="stylesheet" href="/css/thankyou.css" />
</head>

<body>
  <%- include("./partials/header") %>
  <div id="main_container">
    <main>
      <div id="titulo">
        <h1> ¡Gracias por Registrarte en The Cinephile! </h1>
        <a href="http://localhost:3030/user/login" id="logueate">Logueate por primera vez</a>
      </div>
    </main>
  </div>
  <%- include("./partials/footer") %>
</body>

</html>