<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo">
      <a href="/">
        <img src="/images/Logo.png" alt="The Cinephile logo" />
      </a>
    </div>
    <form action="#" method="get" class="footer__buttons">
      <select name="footer_lenguage" id="lenguage">
        <option value="Español(España)">Español (Argentina)</option>
        <option value="Inglés(Estados Unidos)">Inglés (Estados Unidos)</option>
        <option value="Frances">Frances</option>
        <option value="Italiano">Italiano</option>
      </select>
      <a href="#">Sobre nosotros</a>
      <a href="#">Política de privacidad</a>
      <a href="#">Empleo</a>
      <a href="#">Contactanos</a>
      <a href="#">Centro de ayuda</a>
      <a href="#">Preferencia de cookes</a>
    </form>
    <div class="footer__media">
      <a href="https://github.com/JuanCruzEtchart/The_Cinephile_e-commerce.git" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="copy">© 2016-2023 by Grupo 1, Inc.</div>
  </div>
</footer>