<header class="header">
  <div class="header__container">
    <div class="header__dropMenu-logo">
      <form action="#" method="get" class="header__drop-logo-form">
        <button type="submit" class="header__burger-menu">
          <i class="fas fa-bars"></i>
        </button>
        <a href="/" class="header__logo">
          <img src="/images/logo.png" alt="The Cinephile logo" />
        </a>
      </form>
    </div>
    <div class="header__search-container">
      <form action="#" method="get" class="header__search-bar">
        <input type="text" id="search-box" />
        <button type="submit" class="header__submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
    <div class="header__nav">
      <div class="header__dropdown-buttons">
        <a href="/" class="header__home">Inicio</a>
        <a href="/product/movies" class="header__movies">Películas</a>
        <a href="/product/series" class="header__series">Series</a>
        <a href="#" class="header__categories">Categorías</a>
        <a href="#" class="header__list">Mi lista</a>
      </div>
      <div class="header__nav-buttons">
        <a href="#" class="header__nav-search">
          <i class="fas fa-search"></i>
        </a>
        <a href="/user/login" class="header__profile">
          <i class="fas fa-user-circle"></i>
        </a>
        <a href="/product/cart" class="header__cart">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </div>
    </div>
  </div>
  <% if (locals.usuario){ %>
    <div class="cerrar">
      <form action="/user/logout" method="post"> 
        <button type="submit" >Cerrar Sesion</button>
      </form>
    </div>
  <% } %>
</header>
