<header class="header">
  <div class="header__container">
    <div class="header__dropMenu-logo">
      <div class="header__drop-logo">
        <button type="submit" class="header__burger-menu">
          <i class="fas fa-bars"></i>
        </button>
        <a href="/" class="header__logo">
          <img src="/images/logo.png" alt="The Cinephile logo" />
        </a>
      </div>
    </div>
    <div class="header__sidebar">
      <a href="/" class="header__home sidebar-item">
        <div>Inicio</div>
      </a>
      <a href="/product/movies" class="header__movies sidebar-item">
        <div>Películas</div>
      </a>
      <a href="/product/series" class="header__series sidebar-item ">
        <div>Series</div>
      </a>
      <a href="#" class="header__categories sidebar-item">
        <div>Categorías</div>
      </a>
      <a href="#" class="header__list sidebar-item">
        <div>Mi lista</div>
      </a>
    </div>
    <div id="overlay"></div>
    <div class="header__search-container">
      <form action="/product/search" method="GET" class="header__search-bar">
        <input type="search" name="product" id="search-box" />
        <button type="submit" class="header__submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
    <div class="header__nav">
      <div class="header__dropdown-buttons">
        <a href="/" class="header__home ">Inicio</a>
        <a href="/product/movies" class="header__movies">Películas</a>
        <a href="/product/series" class="header__series">Series</a>
        <a href="#" class="header__categories">Categorías</a>
        <% if (locals.usuario && locals.usuario.admin_status == 1) { %>
        <a href="/product/list" class="header__list">Editar</a>
        <% } else { %>
        <a href="#" class="header__list">Mi lista</a>
        <% } %>
      </div>
      <div class="header__nav-buttons">
        <a href="#" class="header__nav-search">
          <i class="fas fa-search"></i>
        </a>
        <% if (locals.usuario){ %>
        <a href="/user/profile" class="header__profile">
          <i class="fas fa-user-circle"></i>
        </a>
        <% } else {%>
        <a href="/user/login" class="header__profile">
          <i class="fas fa-user-circle"></i>
        </a>
        <% } %>
        <% if (locals.usuario){ %>
        <a href="/product/cart" class="header__cart">
          <i class="fas fa-shopping-cart"></i>
        </a>
        <% } else {%>
        <a href="/user/login" class="header__cart">
          <i class="fas fa-shopping-cart"></i>
        </a>
        <% } %>
      </div>
    </div>
  </div>
</header>