<main>
    <section class="img_main">
      <div class="conjunto">
        <img src="/images/index/DoctorStrange2_movie.jpg" alt="imagenprincipal">
        <div class="top1">
            <img src="/images/index/top.png" alt="logotop">
        </div> 
      </div>
    </section>
    <section class="ultimos_lanzamientos">
      <h3 class="text1">Últimos lanzamientos</h3>
      <div class="movies">
          <img src="/images/index/TopGunMaverick_movie.jpg" alt="movie1" class="movies_img" >
          <img src="/images/index/BuzzLightyear_movie.jpg" alt="movie2" class="movies_img" >
          <img src="/images/index/JurassicWorldDominion_movie.jpg" alt="movie3" class="movies_img" >
          <img src="/images/index/ThorLoveandThunder_movie.jpg" alt="movie4" class="movies_img" >
          <img src="/images/index/MinionsElorigendeGru_movie.jpg" alt="movie5" class="movies_img" >
      </div>
    </section>
    <section class="mas_alquilado">
      <h3 class="text2">Lo más alquilado</h3>
      <div class="movies_alq">
          <a type="button" href="/product/detail/1" class="buttongodfather"><img src="/images/index/the_godfather_movie_2.jpg" alt="movie1" class="movies_img_b" ></a>
          <img src="/images/index/spiderman_movie.jpg" alt="movie2" class="movies_img" >
          <img src="/images/index/volverAlFuturo_movie.jpg" alt="movie3" class="movies_img" >
          <img src="/images/index/samaritan_movie.jpg" alt="movie4" class="movies_img" >
          <img src="/images/index/joker_movie.jpg" alt="movie5" class="movies_img" >
      </div>
    </section>
    <section class="ultimas_series">
      <h3 class="text3">Las Últimas series</h3>
      <div class="series">
          <img src="/images/index/strangerthings_movie.jpg" alt="movie1" class="movies_img" >
          <img src="/images/index/succesion_movie.jpg" alt="movie2" class="movies_img" >
          <img src="/images/index/gameofthrones_movie.jpg" alt="movie3" class="movies_img" >
          <img src="/images/index/theboys_movie.jpg" alt="movie4" class="movies_img" >
          <img src="/images/index/Friends_movie.jpg" alt="movie5" class="movies_img" >
      </div>
    </section>
    <section class="peliculas_infantiles">
      <h3 class="text4">Series y pelÍculas infantiles</h3>
      <div class="pelis_infantil">
          <img src="/images/index/MinionsElorigendeGru_movie.jpg" alt="movie1" class="movies_img" >
          <img src="/images/index//toystory_movie.jpg" alt="movie2" class="movies_img" >
          <img src="/images/index/shrek_movie.jpg" alt="movie3" class="movies_img" >
          <img src="/images/index/turningred_movie.jpg" alt="movie4" class="movies_img" >
          <img src="/images/index/BuzzLightyear_movie.jpg" alt="movie5" class="movies_img" >
      </div>
  </main>