/*MAIN*/

.main {
  background-color: #212121;
}

.main__container {
  width: 90%;
  margin: auto;
  max-width: 1200px;
}

.main__title {
  color: white;
  background-color: #212121;
  margin-top: 0px;
  margin-bottom: 35px;
  padding-top: 35px;
  overflow-wrap: break-word;
}

.back-button {
  color: #ffc700;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  width: 70%;
  max-width: 250px;
  cursor: pointer;
  transition: all 120ms;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.5);
}

.back-button:hover {
  background-color: rgba(126, 126, 126, 0.1);
}

.main__errors {
  list-style-type: none;
  color: white;
  margin: 10px 0px;
  padding: 5px;
  background-color: #1b1b1b;
  text-align: center;
  border-radius: 10px;
  width: auto;
}

.main__errors li {
  margin: 10px 0px;
  padding: 10px;
  font-size: 0.875rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  align-items: center;
}

.inputStatus {
  font-size: 0.675rem;
  text-align: center;
  margin-left: 10px;
  color: white;
}

.main__form-put {
  padding: 20px 0px 0px 0px;
  text-align: center;
}

.text-box {
  font-size: 0.875rem;
  width: 70%;
  max-width: 495.5px;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  background-color: #1b1b1b;
  color: white;
}

.text-box::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.main__radioForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem;
  margin-bottom: 15px;
  width: 100%;
  color: white;
}

.main__radioForm-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main__radioForm div {
  padding: 10px;
}

.main__radioForm label {
  padding-left: 10px;
}

#trailerLink {
  margin-bottom: 5px;
}

.main__genreSelect {
  margin-bottom: 15px;
}

.main__select {
  display: flex;
  font-size: 16px;
  padding: 5px;
  width: auto;
  max-width: 50%;
  border: none;
  color: white;
  background-color: #1b1b1b;
  border-radius: 10px;
  cursor: pointer;
}

.main__select option {
  background-color: #1b1b1b;
  transition: all 120ms;
}

#synopsis {
  resize: none;
  word-wrap: break-word;
  width: 100%;
  font-size: 0.875rem;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  background-color: #1b1b1b;
  color: white;
}

.textarea::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.main__file-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main__file-wrap img {
  border-radius: 10px;
  width: 180px;
  height: 267.75px;
  margin-top: 10px;
  margin-bottom: 15px;
}

#background-image {
  width: 100%;
}

.main__fieldDescription {
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.875rem;
  margin: 20px 0px;
  text-align: left;
}

.valid {
  color: rgb(46, 255, 46);
  border-color: rgb(46, 255, 46);
}

.invalid {
  color: red;
}

#productImage {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 15px;
  text-align: left;
}

#backgroundImage {
  color: rgba(255, 255, 255, 0.75);
}

.main__button {
  font-size: 0.875rem;
}

.send-button {
  background-color: #ffc700;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 70%;
  max-width: 250px;
  cursor: pointer;
  transition: all 120ms;
}

.send-button:hover {
  background-color: #fce89f;
}

.reset-button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 70%;
  max-width: 250px;
  cursor: pointer;
  transition: all 120ms;
}

.reset-button:hover {
  background-color: #b4b4b4;
}

.main__form-delete {
  padding-bottom: 20px;
  text-align: center;
}

.delete-button {
  background-color: rgb(255, 0, 0);
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 70%;
  max-width: 250px;
  cursor: pointer;
  transition: all 120ms;
}

.delete-button:hover {
  background-color: rgb(253 57 57);
}
/*MEDIA QUERIES*/

/*MOBILE*/

@media (max-width: 599px) {
  /*MAIN*/
}

/*TABLET*/

@media (min-width: 600px) {
  /*MAIN*/
  html {
    font-size: 20px;
    line-height: 28px;
  }
  .main__container {
    width: 50%;
  }
}

/*DESKTOP*/

@media (min-width: 1200px) {
  /*MAIN*/
  .main__radioForm-container {
    flex-direction: row;
    width: 100%;
    padding: 10px;
    align-items: flex-start;
    justify-content: space-around;
  }
}

/*LARGE-DESKTOP*/

@media (min-width: 1440px) {
  /*MAIN*/
}
